.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(22, 22, 22, 0.8);  /*Dim the lights */
    backdrop-filter: blur(8px);           /* Make it look premium*/
    display: none;                         /* The Secret line: Hidden by default*/
    /* This is the magic line, means it is hidden by default.*/
    justify-content: center;  /* Centers everything horizontally*/
    align-items: center;      /* Centers everything vertically*/
    z-index: 1000;  /* Stays on top of everything*/
}

/* This class will add and remove via JavaScript*/ 
.modal-overlay.active {
    display: flex;
}

/*The white box itself, which has blue button now.*/
.modalBox {
    background-color: white;
    padding: 40px;
    border-radius: 20px;
    /* height: 100px; */
    max-width: 400px;
    width: 90%;
    text-align: center;
    transform: scale(0.7);
    transition: 0.3s ease-in;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    color: #333;
}

.modal-overlay.active .modelBox {
    transform: scale(1);
}

.innerBtn {
    padding: 20px;
    border-radius: 10px;
    background: rgb(67, 67, 255);
    width: 150px;
    border: none;
    margin-top: 25px;
    transition: filter 0.2s;
}

.innerBtn:hover {
    background: rgb(44, 44, 255);
    cursor: pointer;
    transition: 0.2s ease-out;
    filter: brightness(1.2);
}
.modalBox p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}

.fire-button{
    padding: 20px;
    width: 300px;
    margin: 25px;
    border-radius: 30px;
    background-color: yellow;
    border: none;

}
.fire-button:hover{
    /* transform: scale(0.3); */
    background-color: rgb(255, 255, 75);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}